:root {
    --lightpink: #FFDAE5; 
    --pink: #FFBEC9; 
    --blush: #F1A3AD;  
    --darkblush: #D48893; 
  }
  .body {
    margin-right: 10%;
    margin-left: 10%; 
  }
  body{
    margin: 0; 
  }
  * {
    font-family: 'Playfair Display', sans-serif; 
  }
  main {
    flex: 1 0 auto; 
  }
  h1 { 
    font-size:60px;
    font-weight: bold;
    color: var(--lightpink); 
    text-transform: uppercase;
  }
  h2 { 
    font-size:60px;
    color: var(--blush); 
  }
  h3 {
    font-size: 30px; 
    color: var(--blush); 
  }
  p {
    font-size: 20px; 
    color: var(--lightpink); 
  }
  hr {
    color:var(--darkblush); 
  }