.modal-header h2, .modal-header p{
    margin:0; 
    text-align: center; 
}
.modal-header {
    margin-bottom: 25px; 
}
.modal-body p, .modal-body h5 {
    margin: 5px; 
}
.modal-body {
    overflow-y:scroll; 
    overflow-x:hidden; 
    max-height: 400px; 
}
.work-example-list li {
    font-size: 20px;
}
.technology-list {
    display:flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 90%; 
    flex-wrap: wrap; 
}
.technology-list li {
    width: 30%; 
}
.work-example-list li {
    margin-bottom: 20px; 
}
.work-link {
    color: var(--teal); 
    font-size: 16px;
}
.work-link:hover {
    color: var(--dark-teal); 
}
@media screen and (max-width: 786px) {
    .modal-header h2 {
        font-size: 30px;
    }
    .technology-list li {
        width: 100%; 
    }
    .technology-list {
        flex-direction: column;
    }
}