.about-container {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;  
    margin-top: 2%; 
    color: black; 
}
.left-container {
    width: 48%; 
    display: flex; 
    flex-direction: column;
    margin-right: 20px; 
}
.right-container {
    width: 50%; 
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px; 
}
.about-block {
    padding: 30px; 
    background: var(--pink-gradient); 
    border-radius: 40px 40px 0 40px; 
}
.education-block {
    padding: 30px; 
    background: var(--blue-gradient); 
    border-radius: 40px 40px 0 40px; 
    margin-bottom: 20%;  
}
.education-block h4 {
    margin:0; 
}
.skills-block {
    padding: 30px; 
    width: 90%; 
    background: var(--pink-blue-gradient); 
    border-radius: 40px 40px 40px 0; 
}
.skills-list {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills {
    width: 40%; 
}
.skills h4 {
    margin: 0; 
}
.skills ul {
    padding-left:0; 
}
.skills li {
    list-style-type: none; 
}
.contact-block {
    padding: 30px; 
    width: 90%; 
    background: var(--orange-gradient); 
    border-radius: 40px 40px 40px 0; 
}
.custom-btn a{
    color: var(--blue); 
    text-decoration: none;
}
.custom-btn a:hover{
    color: var(--dark-teal); 
    cursor:pointer; 
}

@media screen and (max-width: 786px) {
    .about-container {
        flex-wrap: wrap;
    }
    .left-container, .right-container {
        width: 100%; 
    }
    .left-container {
        height: auto;  
    }
    .right-container {
        align-items: flex-start;
    }
    .education-block {
        margin-bottom: 0; 
    }
    .contact-block {
        margin-bottom: 20%; 
    }
    .skills {
        width: 50%; 
    }
}