.navbar-container{
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-image: var(--peach-gradient); 
    border-radius: 0 0 40px 40px; 
    position: fixed; 
    top:0; 
    width: 100%; 
    z-index: 2;  
  }

  .navbar-container a {
    text-decoration: none;
  }

  .nav-link {
    margin: 10px 10px; 
    padding: 10px 10px; 
    color: black; 
    width: 100%;  
  }
  .active h5 {
    color: var(--blue); 
  }

  .nav-link:hover {
    color:var(--dark-teal); 
    transition: color .25s ease-in-out; 
    cursor: pointer;
  }
  
  @media screen and (max-width:768px) {
    .navbar-container {
      justify-content: space-between;
    }
    .nav-link {
      margin:0; 
    }
    .navbar-container {
      flex-wrap: wrap; 
      justify-content: center; 
    }
  }
